body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	  /* IE10+ */ 
	background-image: -ms-linear-gradient(left, #cfe7fa 0%, #6393c1 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, #cfe7fa 0%, #6393c1 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(left, #cfe7fa 0%, #6393c1 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #cfe7fa), color-stop(100, #6393c1));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, #cfe7fa 0%, #6393c1 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to right, #cfe7fa 0%, #6393c1 100%);
}
